/* Mobile first */
.sil-table {
    margin-top: 30px;
    margin-bottom: 10px;
    .sil-table__header-row {
        display: none;
        .sil-table__header-cell {
            font-size: 12px;
            &.header__blocks,
            &.header__associates,
            &.header__actions,
            &.header__seals {
                display: none;
            }
        }
    }
    .sil-table__row {
        padding: 8px;
        cursor: pointer;
        grid-template-columns: 1fr 1fr 1fr 0.3fr;
        grid-template-areas:
            "name name farms actions"
            "blocks associates seals federated";
        row-gap: 4px;
        column-gap: 4px;
        .sil-table__cell {
            font-weight: 600;
            font-size: 14px;
            &.cell__name {
                word-break: break-word;
                grid-area: name;
                div {
                    display: inline-flex;
                    align-items: center;
                    span:nth-child(2) {
                        display: inline-block;
                    }
                }
            }
            &.cell__farms {
                grid-area: farms;
            }
            &.cell__blocks {
                grid-area: blocks;
            }
            &.cell__associates {
                grid-area: associates;
            }
            &.cell__seals {
                grid-area: seals;
                div {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 18px;
                    span {
                        z-index: 5;
                        margin-left: -18px;
                        img {
                            width: 24px;
                            top: 3px;
                            position: initial;
                            height: 24px;
                            border-radius: 50%;
                            border: 0.5px solid lightgray;
                            background-color: white;
                        }
                    }
                }
            }
            &.cell__federated {
                grid-area: federated;
                padding: 0;
                justify-content: center;
            }
            &.cell__name,
            &.cell__blocks,
            &.cell__associates,
            &.cell__seals,
            &.cell__farms,
            &.cell__associates {
                justify-content: flex-start;
            }
        }
        .cell__actions {
            display: inline-flex;
            grid-area: actions;
            justify-content: center;
        }
    }
    &__footer {
        display: grid;
        grid-template-columns: 40% 1fr;
        align-items: center;
    }
}

.producers{
    &__empty{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 320px;
        margin: 16px auto;
        img{
            width: 320px;
            margin-bottom: 16px;
        }
        p{
            padding: 0 40px;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.36;
            letter-spacing: normal;
            text-align: center;
            color: var(--tr-empty-empty-color);
            span{
                color: var(--tr-base-color-blue);
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}

/* Tooltip class */
::ng-deep .sil-table__tooltip {
    white-space: pre-line;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    padding: 10px;
}

/* Responsive*/
/* tablet */
@media (min-width: 768px) {
    .sil-table {
        .sil-table__header-row {
            padding: 8px;
            display: grid;
            column-gap: 4px;
            grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.8fr 0.5fr;
            .sil-table__header-cell {
                &.header__farms,
                &.header__blocks,
                &.header__associates,
                &.header__seals {
                    display: inline-flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                &.header__actions {
                    display: inline-flex;
                    justify-content: flex-end;
                }
            }
        }
        .sil-table__row {
            grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.8fr 0.3fr 0.2fr;
            grid-template-areas: "name farms blocks associates seals federated actions";
            .sil-table__cell {
                &.cell__farms,
                &.cell__blocks,
                &.cell__associates,
                &.cell__federated,
                &.cell__seals {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
                &.cell__seals {
                    padding: 0;
                    div {
                        span {
                            margin-left: -18px;
                            img {
                                width: 28px;
                                height: 28px;
                            }
                        }
                    }
                }
                &.cell__federated {
                    i {
                        margin: 0;
                    }
                }
            }
        }
    }
    .producers{
        &__empty{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 480px;
            margin: 16% auto;
            img{
                width: 387px;
                height: 250px;
                margin-bottom: 16px;
            }
            p{
                padding: 0 40px;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.36;
                letter-spacing: normal;
                text-align: center;
                color: var(--tr-empty-empty-color);
                span{
                    color: var(--tr-base-color-blue);
                    cursor: pointer;
                    font-weight: 600;
                }
            }
        }
    }
}

/*desktop*/
@media (min-width: 1200px) {
    .sil-table {
        .sil-table__header-row {
            grid-template-columns:
                minmax(140px, 1fr) minmax(96px, 1fr) minmax(98px, 1fr) minmax(
                    106px,
                    1fr
                )
                1fr 176px;
            .sil-table__header-cell {
                &.header__seals {
                    align-items: flex-start;
                    justify-content: flex-start;
                }
                &.header__actions {
                    justify-content: flex-end;
                    align-items: flex-end;
                }
            }
        }
        .sil-table__row {
            grid-template-columns:
                minmax(140px, 1fr) minmax(106px, 1fr) minmax(108px, 1fr) minmax(
                    116px,
                    1fr
                )
                1fr 50px 96px;
            .sil-table__cell {
                &.cell__seals {
                    justify-content: flex-start;
                    align-items: flex-start;
                    div {
                        margin-left: 0;
                        span {
                            margin-left: -20px;
                            img {
                                width: 35px;
                                height: 35px;
                            }
                        }
                        span:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
