.center-all {
  text-align: center;
  padding: 24px;
}


@media (min-width: 500px) {
  .center-all {
    text-align: center;
    padding: 24px;
  }
  
  .btn-danger {
    width: 148px;
    height: 40px;
  }
  
  .btn-theme {
    width: 148px;
  }
  
  .space-around {
    display: flex;
    justify-content: space-around;
  }
}

