.delete-modal-title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.36;
    color: var(--tr-panel-body-color);
    margin-bottom: 25px;
}

.btn-iots {
    width: 160px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
}

.modal-padding {
    border: none;
    padding: 50px 10px 35px 10px;
}

.text-white {
    color: var(--tr-panel-body-color);
}