<div class="lot-list" [ngClass]="{ 'lot-list--processed-mode': isProcessedMode }">
    <!-- Header -->
    <div class="lot-list__header">
        <div class="lot-list__header__filter">
            <button class="tr__button__filter lot-list__header__filter__button"
                [ngClass]="{ 'tr__button__filter--active': (countFilter>0) }" matRipple (click)="openFilter()">
                <i class="icon-filter-icon no-select"></i>
                &nbsp; &nbsp;
                <span>{{ "filter" | i18n }}</span>
                &nbsp; &nbsp;
                <div *ngIf="countFilter >0" class="tr__button__filter__count">
                    <span>{{ countFilter }}</span>
                </div>
            </button>
        </div>
        <div class="lot-list__header__input">
            <button class="lot-list__header__input__button"
                [ngClass]="isProcessedMode ? 'tr__button__second' : 'tr__button__primary'"
                (click)="selectLotList(false)" matRipple>
                <span>{{ "lots-list-view-input" | i18n }}</span>
            </button>
        </div>
        <div class="lot-list__header__processed">
            <button class="lot-list__header__processed__button"
                [ngClass]="!isProcessedMode ? 'tr__button__second' : 'tr__button__primary'"
                (click)="selectLotList(true)" matRipple>
                <span>{{ "lots-list-view-processed" | i18n }}</span>
            </button>
        </div>
        <div class="lot-list__header__search">
            <app-search-input [isDisabledSearchInput]="isInputSearchDisabled" [searchValue]="searchText"
                [isFocused]="isFocusOnInputSearch" (clearEvent)="clearSearchInput()">
                <input searchInput type="text" class="elipsis" (input)="onTypeSearchInput($event)" [placeholder]="
                        (isProcessedMode
                            ? 'lots-list-view-placeholder-search-processed-mode'
                            : 'lots-list-view-placeholder-search'
                        ) | i18n
                    " [(ngModel)]="searchText" [disabled]="isInputSearchDisabled" (focus)="isFocusOnInputSearch = true"
                    (blur)="isFocusOnInputSearch = false" autocomplete="not" />
            </app-search-input>
        </div>
        <div class="lot-list__header__new">
            <button class="tr__button__new-item lot-list__header__new__button" matRipple
                [routerLink]="['/routes/weight-note/lots/create']" [queryParams]="{ isFromLotList: true }"
                *permission="{tag: PERMISSIONS.LOTS, type: PERMISSION_TYPES.UPDATE}">
                <span>+ {{ "new-lot" | i18n }}</span>
            </button>
        </div>
    </div>
    <!-- Body -->
    <div class="lot-list__body" *blockUI="'lot-list-layout'; template: templateBlockModalUiComponent">
        <ng-container *ngIf="
                lots.length > 0 || isLoadingLots;
                else emptySearchResults
            ">
            <!-- Columns -->
            <div class="lot-list__columns">
                <div class="lot-list__area__data__toggle" (click)="onToggle()">
                    <i class="icon-collapse no-select"></i>
                </div>
                <div class="tr__list__column__label lot-list__columns__toogle-status" (click)="onToggle()">
                    <span class="no-select">
                        {{
                        ((lots | filterObjectArray: { opened: true })
                        .length > 0
                        ? "lots-list-view-fold-instruct"
                        : "lots-list-view-unfold-instruct"
                        ) | i18n
                        }}
                    </span>
                </div>
                <div class="tr__list__column__label lot-list__area__data__creation">
                    <span class="no-select lot-list__columns__sortable" (click)="sortData('created')">
                        <span>{{ "creation" | i18n | uppercase }}</span>
                        <i [ngClass]="
                                columnAscState.created
                                    ? 'icon-caret-down'
                                    : 'icon-caret-up'
                            "></i>
                    </span>
                </div>
                <div class="tr__list__column__label lot-list__area__data__id">
                    <span class="no-select lot-list__columns__sortable" (click)="sortData('id')">
                        <span>{{ "lots-list-id" | i18n | uppercase }}</span>
                        <i [ngClass]="
                                columnAscState.id
                                    ? 'icon-caret-down'
                                    : 'icon-caret-up'
                            "></i>
                    </span>
                </div>
                <div class="tr__list__column__label lot-list__area__data__type">
                    <span class="no-select lot-list__columns__sortable" (click)="sortData('transformation')">
                        <span>{{ "type" | i18n | uppercase }}</span>
                        <i [ngClass]="
                                columnAscState.transformation
                                    ? 'icon-caret-down'
                                    : 'icon-caret-up'
                            "></i>
                    </span>
                </div>
                <div class="tr__list__column__label lot-list__area__data__warehouse" *ngIf="!isProcessedMode">
                    <span class="no-select lot-list__columns__sortable" (click)="sortData('tank')">
                        <span>{{ "warehouse" | i18n | uppercase }}</span>
                        <i [ngClass]="
                                columnAscState.tank
                                    ? 'icon-caret-down'
                                    : 'icon-caret-up'
                            "></i>
                    </span>
                </div>
                <div class="tr__list__column__label lot-list__area__data__net-weight">
                    <span class="no-select lot-list__columns__sortable" (click)="sortData('weight')">
                        <span>{{ "net-weight" | i18n | uppercase }}</span>
                        <i [ngClass]="
                                columnAscState.weight
                                    ? 'icon-caret-down'
                                    : 'icon-caret-up'
                            "></i>
                    </span>
                </div>
                <div class="tr__list__column__label lot-list__area__data__total-notes">
                    <span>{{
                        "lots-list-number-notes" | i18n | uppercase
                        }}</span>
                </div>
                <div class="tr__list__column__label lot-list__area__data__flow">
                    <span>{{ "lots-list-flow" | i18n | uppercase }}</span>
                </div>
                <div class="tr__list__column__label lot-list__area__data__process" *ngIf="!isProcessedMode">
                    <span>{{ "lots-list-process" | i18n | uppercase }}</span>
                </div>
                <div class="tr__list__column__label lot-list__area__data__seals">
                    <span>{{ "seals" | i18n | uppercase }}</span>
                </div>
                <div class="tr__list__column__label lot-list__area__data__actions">
                </div>
            </div>
            <!-- Rows -->
            <mat-accordion multi>
                <ng-container *ngFor="let lot of lots; let idxLot = index">
                    <mat-expansion-panel hideToggle (opened)="onOpenedPanelEvent(idxLot)"
                        (closed)="onClosedPanelEvent(idxLot)" #lotPanel>
                        <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
                            <ng-container [ngTemplateOutlet]="panelHeader" [ngTemplateOutletContext]="{
                                    panel: lotPanel,
                                    data: lot
                                }">
                            </ng-container>
                        </mat-expansion-panel-header>
                        <ng-container [ngTemplateOutlet]="panelBody" [ngTemplateOutletContext]="{
                                data: lot.weightNotes
                            }">
                        </ng-container>
                    </mat-expansion-panel>
                </ng-container>
            </mat-accordion>
        </ng-container>
        <!-- Paginator -->
        <mat-paginator [hidden]="0 == lots.length"
                       class="custom-paginator"
                       [length]="paginator.totalItems"
                       [pageSize]="paginator.itemsPerPage"
                       [pageSizeOptions]="[paginator.itemsPerPage]"
                       (page)="eventPaginator($event)"
                       showFirstLastButtons
                       #matPaginator>
        </mat-paginator>
    </div>
</div>

<!-- Panel header template -->
<ng-template #panelHeader let-panel="panel" let-data="data">
    <div class="lot-list__panel__header">
        <div class="lot-list__area__data__toggle">
            <i class="lot-list__area__data__toggle__icon icon-arrow_right no-select" [ngClass]="{
                    'lot-list__area__data__toggle__icon--rotated':
                        panel.expanded
                }"></i>
        </div>
        <div class="lot-list__area__label lot-list__area__label__creation">
            <span>{{ "creation" | i18n }}</span>
        </div>
        <div class="lot-list__area__data__creation">
            <div class="lot-list__area__data__creation__value">
                <div class="lot-list__area__data__creation__value__date">
                    {{ data.createdDate | formatMoment: 'MMM DD, YYYY HH:mm' : true }}
                </div>
                <div class="lot-list__area__data__creation__value__creator">
                    {{ data.creatorUser }}
                </div>
            </div>
        </div>
        <div class="lot-list__area__label lot-list__area__label__id">
            <span>{{ "lots-list-id" | i18n }}</span>
        </div>
        <div class="lot-list__area__data__id">
            <div class="lot-list__area__data__id__value">
                {{ data.folio }}
            </div>
        </div>
        <div class="lot-list__area__label lot-list__area__label__type">
            <span>{{ "type" | i18n }}</span>
        </div>
        <div class="lot-list__area__data__type">
            <div class="lot-list__area__data__type__value">
                {{ data.commodityType }}
            </div>
        </div>
        <div class="lot-list__area__label lot-list__area__label__warehouse" *ngIf="!isProcessedMode">
            <span>{{ "warehouse" | i18n }}</span>
        </div>
        <div class="lot-list__area__data__warehouse" *ngIf="!isProcessedMode">
            <div class="lot-list__area__data__warehouse__value elipsis">
                <ng-container *ngIf="data.warehouse; else warehouseTooltip">
                    {{ data.warehouse }}
                </ng-container>
                <ng-template #warehouseTooltip>
                    {{ data.weightNotesWarehouses.length != 1?
                        data.weightNotesWarehouses.length :
                        data.weightNotesWarehouses[0]
                    }}
                    <span *ngIf="data.weightNotesWarehouses.length > 1" class="note-information" #tooltip="matTooltip"
                        [matTooltip]="getTanksMessage(data)">
                        i
                    </span>
                </ng-template>
            </div>
        </div>
        <div class="lot-list__area__label lot-list__area__label__net-weight">
            <span>{{ "net-weight" | i18n }}</span>
        </div>
        <div class="lot-list__area__data__net-weight">
            <div class="lot-list__area__data__net-weight__value">
                {{ data.currentWeightQQ | number : "1." + DECIMAL_DIGITS + "-" + DECIMAL_DIGITS : "en" }}
                {{ configuration.conversionMeasurementUnitAbbreviation }}
            </div>
        </div>
        <div class="lot-list__area__label lot-list__area__label__total-notes">
            <span>{{ "lots-list-number-notes" | i18n }}</span>
        </div>
        <div class="lot-list__area__data__total-notes">
            <div class="lot-list__area__data__total-notes__value">
                <i class="icon-icon-menu-notas no-select"></i>
                &nbsp;
                <span>
                    {{ data.totalNotes | number: "2.0-0":"en" }}
                </span>
            </div>
        </div>
        <div class="lot-list__area__label lot-list__area__label__flow">
            <span>{{ "lots-list-flow" | i18n }}</span>
        </div>
        <div class="lot-list__area__data__flow">
            <div class="lot-list__area__data__flow__value">
                <span [ngClass]="{
                        tr__lot__type__nano:
                            LOT_TYPES.NANO_LOTE == data.productionTypeName,
                        tr__lot__type__micro:
                            LOT_TYPES.MICRO_LOTE == data.productionTypeName,
                        tr__lot__type__macro:
                            LOT_TYPES.MACRO_LOTE == data.productionTypeName
                    }">
                    {{ data.productionTypeName | i18n }}
                </span>
            </div>
        </div>
        <div class="lot-list__area__label lot-list__area__label__process" *ngIf="!isProcessedMode">
            <span>{{ "lots-list-process" | i18n }}</span>
        </div>
        <div class="lot-list__area__data__process" *ngIf="!isProcessedMode">
            <div class="lot-list__area__data__process__value">
                <div class="lot-list__area__data__process__value__name">
                    <span class="lot-list__area__data__process__value__name__mark">
                        <div class="lot-list__area__data__process__value__name__mark__dot"
                            [ngStyle]="{ backgroundColor: data.processColor }"></div>
                    </span>
                    <span>
                        {{ data.process | i18n}}
                    </span>
                </div>
            </div>
        </div>
        <div class="lot-list__area__label lot-list__area__label__seals">
            <span>{{ "seals" | i18n }}</span>
        </div>
        <div class="lot-list__area__data__seals">
            <div class="lot-list__area__data__seals__value">
                <div>
                    <span *ngFor="let seal of data.seals" [matTooltip]="seal.name" matTooltipPosition="below"
                        matTooltipClass="lot-list__area__data__seals__value__tooltip">
                        <img [src]="seal.image | safeContent: 'url'" />
                    </span>
                </div>
            </div>
        </div>
        <div class="lot-list__area__data__actions">
            <div class="lot-list__area__data__actions__value">
                <span class="lot-list__area__data__actions__value__icon-wrapper" (click)="$event.stopPropagation()"
                    [matMenuTriggerFor]="actionsMenu">
                    <i class="icon-options-vertical no-select"></i>
                </span>
            </div>
            <mat-menu #actionsMenu="matMenu">
                <button mat-menu-item (click)="onViewLotDetail(data.id)">
                    {{ "view" | i18n }}
                </button>
                <button mat-menu-item *ngIf="!isProcessedMode && PENDING_LOT_STATUS == data.processId"  [disabled]="!hasPermissionReprocess"
                    (click)="openDeleteLotDialog(data)">
                    {{ "delete" | i18n }}
                </button>
                <button mat-menu-item *ngIf="isProcessedMode" [disabled]="!hasPermissionReprocess"
                    (click)="openReprocessLotDialog(data)">
                    {{ "lots-lits-reprocess" | i18n }}
                </button>
            </mat-menu>
        </div>
    </div>
</ng-template>

<!-- Panel body template -->
<ng-template #panelBody let-data="data">
    <div class="lot-list__panel__body">
        <div class="lot-list__panel__body__row" *ngFor="let note of data">
            <div class="lot-list__area__data__toggle">
                <i class="icon-icon-menu-notas no-select lot-list__area__data__toggle__icon"></i>
            </div>
            <div class="lot-list__area__label lot-list__area__label__creation">
                <span>{{ "creation" | i18n }}</span>
            </div>
            <div class="lot-list__area__data__creation">
                <div class="lot-list__area__data__creation__value">
                    <div class="lot-list__area__data__creation__value__date">
                        {{ note.createdDate | formatMoment: 'MMM DD, YYYY HH:mm' : true }}
                    </div>
                    <div class="lot-list__area__data__creation__value__creator">
                        {{ note.creatorUser }}
                    </div>
                </div>
            </div>
            <div class="lot-list__area__label lot-list__area__label__id">
                <span>{{ "lots-list-id" | i18n }}</span>
            </div>
            <div class="lot-list__area__data__id">
                <div class="lot-list__area__data__id__value">
                    {{ note.transactionInId }}
                </div>
            </div>
            <div class="lot-list__area__data__type">
                <div class="lot-list__area__data__type__value"></div>
            </div>
            <div class="lot-list__area__data__warehouse" *ngIf="!isProcessedMode"></div>
            <div class="lot-list__area__data__net-weight">
            </div>
            <div class="lot-list__area__data__total-notes"></div>
            <div class="lot-list__area__data__flow"></div>
            <div class="lot-list__area__data__process" *ngIf="!isProcessedMode"></div>
            <div class="lot-list__area__label lot-list__area__label__seals">
                <span>{{ "seals" | i18n }}</span>
            </div>
            <div class="lot-list__area__data__seals">
                <div class="lot-list__area__data__seals__value">
                    <div>
                        <span *ngFor="let seal of note.seals" [matTooltip]="seal.name" matTooltipPosition="below"
                            matTooltipClass="lot-list__area__data__seals__value__tooltip">
                            <img [src]="seal.image | safeContent: 'url'" />
                        </span>
                    </div>
                </div>
            </div>
            <div class="lot-list__area__data__actions"></div>
        </div>
    </div>
</ng-template>

<!-- Empty search results template -->
<ng-template #emptySearchResults>
    <app-not-results-found></app-not-results-found>
</ng-template>
