.confirmation-dialog {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    padding: 50px 30px 30px 30px;
    margin: 0;
    min-height: 450px;
    min-width: 570px;

    custom-select {
        color: var(--tr-dialog-confirmation-color);
    }

    &__question {
        width: 100%;
        height: auto;
        font-family: "Open Sans", sans-serif !important;
        font-size: 28px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        text-align: center;
        color: var(--tr-dialog-confirmation-color);
        padding-bottom: 30px;
    }

    &__note {
        &__title {
            width: 100%;
            height: auto;
            font-family: "Open Sans", sans-serif !important;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            color: var(--tr-dialog-confirmation-color);
        }

        &__info {
            width: 100%;
            height: auto;
            font-family: "Open Sans", sans-serif !important;
            font-size: 16px;
            font-weight: normal;
            text-align: center;
            color: var(--tr-dialog-confirmation-color);
            padding-bottom: 50px;
        }
    }

    &__buttons {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;

        &__wrapper {
            display: inline-block;
            padding: 16px;

            &__cancel,
            &__primary {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.4;
                letter-spacing: normal;
                padding: 8px 48px !important;
            }
        }
    }
}

.col-xs-12 {
    margin-bottom: 40px;

    &.warehouse-transfer__label {
        color: var(--tr-header-text-color);
        margin-bottom: 10px;
    }
}

.confirmation-dialog__note__info {
    margin-bottom: 30px;
    padding-bottom: 0;
}