<div class="modal-delete-farm-container">

    <div class="modal-content modal-delete" *blockUI="'farm-delete';template: templateBlockModalUi">

        <div class="modal-header border-pad-5">

            <div class="col-xs-12 text-left p0">

                <div class="col-xs-12 text-left p0 text-center delete-modal-title">

                    <span class="modal-delete-farm-confirmation delete-modal-title">
                        {{'t-farm-delete-confirmation' | i18n }}
                    "{{data.name}}"?
                </span>
                </div>

                <div class="col-xs-12 pad-20 p0">

                    <div class="col-xs-12 text-left text-center col-lg-1 col-md-1 col-sm-1">
                        &nbsp;
                    </div>

                    <div class="col-xs-6 text-left  text-center col-lg-5 col-sm-5 col-md-5">

                        <button (click)="onClose()" class="tr__button__second btn-farm pull-center">
                            {{'cancel' | i18n }}
                        </button>

                    </div>

                    <div class="col-xs-6 col-sm-5 col-lg-5 col-md-5 text-left text-center">

                        <button (click)="onSumbitDelete()" [disabled]="isSubmitButtonDisabled"
                            class="tr__button__delete btn-farm pull-center">
                            {{'delete' | i18n }}
                        </button>

                    </div>

                    <div class="col-xs-12 col-lg-1 col-md-1 col-sm-1 text-left  text-center">
                        &nbsp;
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
