@import "src/scss/breakpoints.scss";

@at-root {
    :not(.dark) :host {
        --header-background-color: #ffffff;
        --header-text-color: #3f495f;
    }

    .dark :host {
        --header-background-color: #182030;
        --header-text-color: #ffffff;
    }

    .tr__button__filter {
        display: flex;
    }

    .purchase-orders {
        position: relative;
        top: -70px;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 70px 0 0 0;

        &__wrapper {
            display: block;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;

            &__container {
                display: grid;
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 8px 0 0 0;
                max-height: 100%;
                overflow-x: hidden;
                overflow-y: auto;
                grid-template-columns: 100%;
                grid-template-rows: max-content 1fr;

                .purchase-orders__header {
                    width: 100%;
                    height: auto;
                    padding: 30px 40px 32px 40px;
                    background-color: var(--header-background-color);
                    font-size: 26px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.36;
                    letter-spacing: normal;
                    text-align: left;
                    color: var(--header-text-color);
                }

                .sil-tab-group {
                    ::ng-deep mat-tab-header {
                        background-color: var(--header-background-color);
                    }

                    ::ng-deep.mat-tab-body-wrapper {
                        height: 100%;
                    }

                    ::ng-deep .mat-tab-body-content {
                        background-color: transparent;
                        padding: 0;
                    }
                }
            }
        }
    }

    .purchase-order-container {
        padding: 15px;
        display: grid;

        &__actions-headers {
            display: grid;
            grid-template-columns: 1fr;

            &__filter-button {
                align-items: left;

                button {
                    z-index: 2;
                }
            }

            &__search-button {
                display: grid;
                margin-top: -40px;
            }
        }
    }
}

@at-root {
    @media (min-width: $screen-sm-min) {
        .purchase-order-container {
            &__actions-headers {
                grid-template-columns: 1fr;

                &__search-button {
                    margin-top: -40px;
                }
            }
        }
    }
}

@at-root {
    @media (min-width: $screen-md-min) {
        .purchase-order-container {
            padding: 40px;

            &__actions-headers {
                grid-template-columns: 20% 80%;

                &__search-button {
                    margin-top: 0px;
                }
            }
        }
    }
}
