$icomoon-font-family: "silosys-icons" !default;
$icomoon-font-path: "../../assets/fonts/silosys-icons" !default;

$icon-eye-look: "\e98b";
$icon-retention: "\e98f";
$icon-eye-look-off: "\e98d";
$icon-wharehouse-transfer-out: "\e986";
$icon-unprocessed: "\e98a";
$icon-unsettled: "\e987";
$icon-reception: "\e901";
$icon-admin: "\e902";
$icon-administration: "\e988";
$icon-inventrio: "\e903";
$icon-inventory-movements: "\e989";
$icon-vehiculo-empty: "\e967";
$icon-cup: "\e97e";
$icon-merge: "\e97d";
$icon-buyers: "\e97c";
$icon-buyer-outline: "\e97b";
$icon-shipping-ticket: "\e979";
$icon-fill-shipping-ticket: "\e97a";
$icon-in-process: "\e92c";
$icon-processed: "\e978";
$icon-arrow-in: "\e975";
$icon-process: "\e976";
$icon-divide: "\e977";
$icon-io-t: "\e972";
$icon-barcode: "\e973";
$icon-selection-machine: "\e974";
$icon-user: "\e971";
$icon-purchase-order: "\e970";
$icon-close-circle: "\e96f";
$icon-alert-outline: "\e96e";
$icon-reprocess: "\e96d";
$icon-finished: "\e968";
$icon-lote: "\e969";
$icon-transition: "\e96a";
$icon-problem: "\e96b";
$icon-calendar-edit: "\e96c";
$icon-bascula: "\e900";
$icon-empty_users_link: "\e904";
$icon-weight: "\e905";
$icon-loading: "\e906";
$icon-clock: "\e907";
$icon-check: "\e908";
$icon-collapse: "\e909";
$icon-caret-down: "\e90a";
$icon-caret-up: "\e90b";
$icon-logo-grain: "\e90c";
$icon-arrow_right: "\e90d";
$icon-cent: "\e90e";
$icon-gear: "\e90f";
$icon-plus: "\e922";
$icon-almacen: "\e92a";
$icon-buyer: "\e931";
$icon-characteristics_white_icon: "\e946";
$icon-company: "\e947";
$icon-conductores: "\e948";
$icon-contracts: "\e949";
$icon-dashboard: "\e94a";
$icon-inventory: "\e94b";
$icon-kanban: "\e94c";
$icon-location1: "\e94d";
$icon-logo-type: "\e94e";
$icon-logout: "\e94f";
$icon-materia-prima: "\e950";
$icon-materia-prima-ss: "\e951";
$icon-notas-r: "\e952";
$icon-procesos: "\e953";
$icon-producer: "\e954";
$icon-quality: "\e955";
$icon-receive: "\e956";
$icon-reports: "\e957";
$icon-revert: "\e958";
$icon-seller1: "\e959";
$icon-sellos1: "\e95a";
$icon-send: "\e95b";
$icon-tanks: "\e95c";
$icon-tranformaciones: "\e95d";
$icon-transportistas: "\e95e";
$icon-unidad: "\e95f";
$icon-users: "\e960";
$icon-alert_icon: "\e910";
$icon-almacen-blue: "\e945";
$icon-arrow-blue-drop-down: "\e942";
$icon-arrow_down: "\e944";
$icon-arrow_icon: "\e943";
$icon-bell-outline: "\e93e";
$icon-cafe: "\e940";
$icon-conductor: "\e911";
$icon-contract_icon: "\e912";
$icon-download: "\e913";
$icon-edit: "\e914";
$icon-email: "\e915";
$icon-empty-driver: "\e916";
$icon-empty-finca: "\e917";
$icon-empty-producer: "\e918";
$icon-erase: "\e919";
$icon-farm: "\e91a";
$icon-filter-icon: "\e91b";
$icon-icon-menu-notas: "\e91c";
$icon-icon-parcela: "\e91d";
$icon-kebab-menu: "\e91e";
$icon-light-icon: "\e91f";
$icon-link: "\e920";
$icon-load-carriage: "\e921";
$icon-location: "\e923";
$icon-logo-xls: "\e924";
$icon-menu-icon: "\e925";
$icon-moon: "\e926";
$icon-multimedia: "\e927";
$icon-notas: "\e928";
$icon-note-canceled: "\e929";
$icon-note-close: "\e92b";
$icon-note-open: "\e92d";
$icon-options-vertical: "\e92e";
$icon-print: "\e92f";
$icon-receive_icon: "\e930";
$icon-refresh: "\e932";
$icon-report: "\e933";
$icon-report-pdf: "\e934";
$icon-report-print: "\e935";
$icon-report-xls: "\e936";
$icon-search: "\e937";
$icon-seller: "\e938";
$icon-sellos: "\e939";
$icon-shape: "\e93a";
$icon-shapes: "\e93b";
$icon-shipping_icon: "\e93c";
$icon-silo: "\e93d";
$icon-stamper: "\e93f";
$icon-status_approved_icon: "\e941";
$icon-status_complete_icon: "\e961";
$icon-status_incomplete_icon: "\e962";
$icon-status_rejected_icon: "\e963";
$icon-status_sent_icon: "\e964";
$icon-ticket-outline: "\e965";
$icon-transformation_icon_blue: "\e966";
$icon-trash-gray: "\e97f";
$icon-unit-gray: "\e980";
$icon-unlink: "\e981";
$icon-logout1: "\e982";
$icon-Producers-2: "\e983";
$icon-unit-2: "\e984";
$icon-wharehouse-transfer: "\e985";
$icon-copy-clipboard: "\e98c";
$icon-information: "\e98e";

