:host {
    display: block;
    width: 100%;
    .sil-form {
        grid-template-columns: 1fr;
        grid-template-areas:
            "type"
            "brand"
            "model"
            "port"
            "ip"
            "location"
            "status"
            "verify"
            "description";

        row-gap: 16px;
        .type {
            grid-area: type;
        }
        .model {
            grid-area: model;
        }
        .brand {
            grid-area: brand;
        }
        .status {
            grid-area: status;
            .status_toggle {
                display: flex;
                justify-content: space-between;
                span {
                    font-weight: 600;
                    font-size: 16px;
                }
                .toggle.mat-checked ::ng-deep {
                    .mat-slide-toggle-bar {
                        background-color: var(--base-teal);
                    }
                    .mat-slide-toggle-thumb {
                        background-color: var(--base-blue);
                    }
                }
            }
        }
        .ip {
            grid-area: ip;
        }
        .port {
            grid-area: port;
        }
        .location {
            grid-area: location;
        }
        .description {
            grid-area: description;
            .counter {
                font-size: 12px;
                color: var(--form-title-annotation);
                margin-left: auto;
                width: fit-content;
                margin-top: 2px;
            }
        }
        .verify {
            grid-area: verify;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .btn-default-blue {
                background-color: transparent;
                width: 100%;
                padding: 12px 16px;
            }
        }
    }
}

@media (min-width: 768px) {
    :host {
        .sil-form {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "type brand"
                "model port"
                "ip location"
                "descripition description"
                "status verify";
            row-gap: 16px;
            column-gap: 16px;
            .verify {
                .btn-default-blue {
                    margin-top: 8px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    :host {
        .sil-form {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                "type brand model"
                "port ip location"
                "description status verify";
            .verify {
                .btn-default-blue {
                    width: 50%;
                }
            }
        }
        column-gap: 24px;
    }
}
