@import "src/scss/breakpoints.scss";

.shipping-ticket {
    --tr-weights-section-number-width-xs: 20px;
    --tr-weights-section-number-width-sm: 20px;
    --tr-weights-section-number-width-md: 20px;
    --tr-weights-section-number-width-lg: 20px;
    --tr-weights-section-item-sacks-width-lg: 80px;
    --tr-weights-section-item-tare-width-lg: 90px;
    --tr-weights-section-item-tare-additional-width-lg: 150px;
    --tr-weights-section-item-net-weight-width-lg: 170px;
    --tr-weights-section-item-net-weight-conversion-width-lg: 170px;
    --tr-weights-section-actions-width: 0px;
    --characteristics-section-group-button: 50px;
    --text-note-label-height: 35px;
    --text-note-length-height: 23px;

    padding: 20px 10px;
    margin-bottom: 115px;

    .graybar-note-weight {
        margin: 15.9px 0 8px 1px;
        padding: 8px 15px 8px 15px;
        border-radius: 5px;
        background-color: var(--tr-background-color);
        font-size: 18px;
        font-weight: 600;
    }

    &-right-title {
        float: left;
        text-align: left;
    }

    &-title-commun {
        font-weight: 600;
        color: var(--tr-panel-body-color);
    }

    &-main-name {
        font-weight: bold;
        color: var(--tr-dialog-confirmation-color);
    }

    &-description-commun {
        color: var(--tr-scale-button-tooltip-color);
    }

    &-font-normal {
        font-weight: normal;
    }

    &__back-list {
        font-size: 16px;
        color: var(--tr-mat-icons-documents-color);
        display: inline;
        cursor: pointer;

        i {
            margin-right: 15px;
        }
    }

    &-right-totals {
        float: right;
        text-align: right;
    }

    &__title-detail {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 0px;

        &__name {
            font-size: 26px;
            font-weight: 600;
        }

        &__date {
            font-size: 14px;
            font-weight: bold;

            .information {
                grid-template-columns: 30% 70%;
                display: grid;

                .created {
                    color: var(--tr-mat-icons-documents-color);
                }
            }
        }
    }

    &__container-detail {
        padding: 0px 0px;
        margin-top: 5px;

        &-description {
            background-color: var(--tr-container-detail-background-color);
            border-radius: 20px 20px 0px 0px;
            padding-bottom: 40px;

            &__company-info {
                background-color: #0068ff;
                color: #fff;
                border-radius: 20px 20px 0px 0px;
                display: grid;
                grid-template-columns: 15% 85%;
                padding: 25px 5px 85px 5px;

                .icon {
                    padding: 0px;

                    img {
                        width: 50px;
                    }
                }

                .description {
                    display: grid;
                    grid-template-columns: 70% 1fr;

                    &__ticket-number {
                        display: grid;
                        grid-column: 1;

                        &__folio {
                            font-size: 28px;
                            font-weight: bold;
                            align-self: end;
                        }

                        &__title {
                            font-size: 16px;
                            font-weight: normal;
                        }
                    }

                    &__ticket-information {
                        font-size: 14px;
                        border-left: 1px solid #fff;
                        display: grid;
                        padding-left: 10px;
                        margin-top: 15px;

                        .company-title {
                            font-weight: bold;
                        }
                    }

                    &__ticket-actions {
                        grid-row: 1;
                        grid-column: 2;

                        div {
                            width: 35px;
                            height: 35px;
                            padding: 8px;
                            margin: 0 5px;
                            text-align: center;
                            border-radius: 5px;
                            background-color: #4c95ff;
                            cursor: pointer;
                            float: right;
                        }
                    }
                }
            }

            &__shipping-detail {
                display: grid;
                padding: 0px 15px;

                .shipping-general-information {
                    margin-top: -65px;

                    &__container {
                        background-color: var(--tr-header-background-color);
                        box-shadow: 0 2px 4px 0 var(--tr-panel-shadown-color);
                        border-radius: 20px;
                        color: var(--tr-panel-body-color);
                        padding: 30px 15px;

                        &-header {
                            display: grid;
                            grid-template-columns: 1fr;

                            &-title{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }

                            .title-info {
                                font-size: 18px;
                                font-weight: 600;
                                color: var(--tr-data-grid-color);
                                border-bottom: 1px solid var(--tr-title-detail-order-backgroud-color);
                                padding-bottom: 10px;
                            }

                            .date-shipping-info {
                                align-self: center;
                                text-align: end;

                                span {
                                    color: #fff;
                                    background-color: #23a718;
                                    border-radius: 5px;
                                    padding: 2px 10px;
                                }
                            }
                        }

                        &-details {
                            display: grid;
                            grid-template-columns: 1fr;
                            font-size: 14px;
                            margin-top: 15px;
                            column-gap: 15px;

                            div {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-auto-rows: max-content;
                            }
                        }
                    }
                }

                .weight-capture-information {
                    display: grid;
                    padding: 30px 15px;
                    margin-top: 15px;
                    background-color: var(--tr-header-background-color);
                    box-shadow: 0 2px 4px 0 var(--tr-panel-shadown-color);
                    border-radius: 20px;
                    color: var(--tr-panel-body-color);

                    &__title {
                        color: var(--tr-data-grid-color);
                        font-size: 18px;
                        font-weight: 600;
                        border-bottom: 1px solid var(--tr-title-detail-order-backgroud-color);
                        padding-bottom: 10px;
                        width: 100%;
                    }

                    &-subtitle {
                        font-weight: bold;
                        font-size: 16px;
                        display: grid;
                        grid-template-columns: 1fr;
                        width: 100%;
                        margin-top: 15px;
                    }

                    &__details {
                        display: grid;
                        grid-template-columns: 1fr;
                        font-size: 14px;
                        margin-top: 15px;

                        &-description {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-auto-rows: max-content;

                            .weight-information {
                                span {
                                    float: left;
                                }

                                .tr__progress-bar {
                                    height: 6px;
                                    border-radius: 5px;
                                }
                            }
                        }

                        &__features {
                            display: grid;
                            font-size: 14px;
                            font-weight: 600;
                            grid-column: 1/3;
                            grid-template-columns: 1fr;

                            &-headers {
                                display: none;
                                grid-template-columns: repeat(4, 1fr);
                                letter-spacing: 1.31px;
                            }

                            &-data {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);
                                margin-top: 10px;

                                .title-detail-header {
                                    font-size: 14px;
                                    font-weight: 600;
                                    color: var(--tr-data-grid-color);
                                    display: block;
                                }
                            }
                        }
                    }

                    .weight-notes-information {
                        display: grid;
                        padding: 30px 5px;
                        margin-top: 15px;
                        grid-template-columns: 70% 30%;

                        &__title {
                            color: var(--tr-data-grid-color);
                            font-size: 18px;
                            font-weight: 600;
                            border-bottom: 1px solid var(--tr-title-detail-order-backgroud-color);
                            padding-bottom: 15px;

                            i {
                                font-size: 18px;
                                color: var(--tr-panel-header-toggle-icon-color);
                                margin-right: 5px;
                            }

                            span {
                                margin-left: 15px;
                                color: var(--tr-base-color-blue);
                                background-color: var(--tr-panel-background-color);
                                padding: 2px 20px;
                                border-radius: 20px;
                            }
                        }

                        &_notes {
                            grid-column: 1/3;
                            margin-top: 15px;
                            font-size: 14px;

                            &-table {
                                &__header {
                                    display: grid;
                                    grid-template-columns: 50px repeat(5, 1fr);
                                    font-weight: 600;
                                    color: var(--tr-data-grid-color);
                                    margin-bottom: 10px;
                                    column-gap: 5px;
                                    display: none;
                                }

                                &__row-body {
                                    display: grid;
                                    grid-template-columns: 20px repeat(3, 1fr);
                                    border-bottom: solid 1px var(--tr-border-color);
                                    padding: 15px 0px;
                                    column-gap: 5px;

                                    .title-detail-header {
                                        font-size: 14px;
                                        font-weight: 600;
                                        color: var(--tr-data-grid-color);
                                        display: block;
                                    }

                                    .featured-row-data {
                                        grid-column: 2/4;
                                    }

                                    .tare-row-data {
                                        grid-column: 4/5;
                                    }
                                }

                                &__row-totals {
                                    display: grid;
                                    grid-template-columns: 20px repeat(3, 1fr);
                                    padding: 15px 0px;
                                    column-gap: 5px;
                                    font-size: 16px;
                                    font-weight: bold;

                                    .title-detail-header {
                                        font-size: 14px;
                                        font-weight: 600;
                                        color: var(--tr-data-grid-color);
                                        display: block;
                                    }

                                    .featured-row-data {
                                        grid-column: 2/4;
                                    }

                                    .tare-row-data {
                                        grid-column: 4/5;
                                    }
                                }
                            }
                        }
                    }

                    .shipping-note-inforation {
                        margin-top: 15px;
                        display: grid;
                        grid-template-columns: 1fr;
                        color: var(--tr-panel-body-color);

                        &__note {
                            display: grid;
                            font-size: 12px;
                            margin-bottom: 15px;
                            grid-auto-rows: max-content;

                            &-title {
                                font-weight: 600;
                            }

                            &-description {
                                color: var(--tr-scale-button-tooltip-color);
                            }
                        }

                        &__totals {
                            display: grid;
                            grid-template-columns: 1fr;
                            font-size: 14px;
                            font-weight: 600;
                            color: var(--tr-panel-body-color);
                            background-color: var(--tr-header-background-color);
                            box-shadow: 0 2px 4px 0 var(--tr-panel-shadown-color);
                            border-radius: 20px;
                            padding: 15px;

                            .info-total {
                                display: grid;
                                grid-template-columns: repeat(2, 1fr);

                                &-title-total {
                                    font-size: 18px;
                                }

                                &-title-color {
                                    font-size: 18px;
                                    color: var(--tr-mat-datepicker-toggle-active-color);
                                }
                            }
                        }
                    }

                    .total-end {
                        display: flex;
                        margin-top: 16px;
                        justify-content: flex-end;

                        .shipping-note-inforation__totals {
                            width: 50%;
                        }
                    }


                }
            }
        }
    }


    .container-footer-btns {
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 30px;

        .content-btn {
            button {
                all: unset;
                height: 35px;
                padding: 8px;
                border-radius: 5px;
                color: var(--tr-base-color-red);
                box-sizing: border-box;
                text-align: center;
                min-width: 230px;
                font-size: 16px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.31;
                letter-spacing: normal;
                text-align: left;
                cursor: pointer;

                i {
                    margin-right: 12px;
                }
            }

            :hover {
                height: 40px;
            }

        }
    }

    .container-void-note{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 30px;
        box-shadow: 0 2px 4px 0 var(--box-shadow-color);
        border-radius: 5px;
        min-height: 50px;
        padding: 8px 16px 8px 16px;
        background-color:rgba(214, 54, 73, 0.05);
    }

}

@media (min-width: $screen-sm-min) {
    .shipping-ticket {
        padding: 20px 10px;
        margin-bottom: 70px;

        &-right-title {
            float: right;
            text-align: end;
        }

        padding: 20px;

        &__title-detail {
            grid-template-columns: 30% 70%;
            padding: 0px;

            &__date {
                .information {
                    grid-template-columns: 30% 70%;
                }
            }
        }

        &__container-detail {
            padding: 0px 0px;

            &-description {
                padding-bottom: 25px;

                &__company-info {
                    padding: 30px 10px 85px 10px;
                    grid-template-columns: 10% 1fr;

                    .icon {
                        padding-top: 35px;

                        img {
                            width: 60px;
                        }
                    }

                    .description {
                        grid-template-columns: 25% 1fr 25%;

                        &__ticket-number {
                            display: grid;
                        }

                        &__ticket-information {
                            margin-top: 5px;
                        }

                        &__ticket-actions {
                            grid-row: 1;
                            grid-column: 3;
                        }
                    }
                }

                &__shipping-detail {
                    padding: 0px 15px;

                    .shipping-general-information {
                        &__container {
                            padding: 30px 15px;

                            &-header {
                                grid-template-columns: 50% 50%;
                            }

                            &-details {
                                grid-template-columns: 1fr 1fr;

                                div {
                                    grid-template-columns: 50% 50%;
                                }
                            }
                        }
                    }

                    .weight-capture-information {
                        padding: 30px 15px;

                        &__details {
                            grid-template-columns: 1fr 1fr;

                            &-description {
                                grid-template-columns: 50% 50%;

                                .weight-information {
                                    span {
                                        float: right;
                                    }
                                }
                            }

                            &__features {
                                display: grid;
                                grid-column: 1/3;
                                grid-template-columns: 1fr;

                                &-headers {
                                    display: grid;
                                    grid-template-columns: repeat(4, 1fr);
                                }

                                &-data {
                                    display: grid;
                                    grid-template-columns: repeat(4, 1fr);

                                    .title-detail-header {
                                        display: none;
                                    }
                                }
                            }
                        }

                        &__title {
                            width: 40%;
                        }

                        .weight-notes-information {
                            padding: 30px 15px;
                            grid-template-columns: 40% 60%;

                            &_notes {
                                grid-column: 1/3;

                                &-table {
                                    &__header {
                                        grid-template-columns: 40px repeat(6, 1fr);
                                        column-gap: 15px;
                                        display: grid;
                                    }

                                    &__row-body {
                                        grid-template-columns: 40px repeat(6, 1fr);
                                        column-gap: 15px;

                                        .title-detail-header {
                                            display: none;
                                        }

                                        .featured-row-data {
                                            grid-column: 5/5;
                                        }

                                        .tare-row-data {
                                            grid-column: 6/6;
                                        }
                                    }

                                    &__row-totals {
                                        display: grid;
                                        grid-template-columns: 40px repeat(6, 1fr);
                                        column-gap: 15px;

                                        .title-detail-header {
                                            display: none;
                                        }

                                        .featured-row-data {
                                            grid-column: 5/5;
                                        }

                                        .tare-row-data {
                                            grid-column: 6/6;
                                        }
                                    }
                                }
                            }

                            .shipping-note-inforation {
                                grid-template-columns: 40% 1fr;
                                padding: 30px 15px;
                                column-gap: 10px;

                                &__note {
                                    margin-bottom: 0px;
                                }
                            }
                        }

                        .shipping-note-inforation {
                            grid-template-columns: 1fr 1fr;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-md-min) {
    .shipping-ticket {
        &__title-detail {
            grid-template-columns: 55% 45%;
            padding: 0px 30px;
        }

        &__container-detail {
            padding: 0px 25px;

            &-description {
                padding-bottom: 25px;

                &__company-info {
                    padding: 35px 35px 85px 25px;
                    grid-template-columns: 8% 1fr;

                    .icon {
                        padding-top: 0px;

                        img {
                            width: 100px;
                        }
                    }

                    .description {
                        grid-template-columns: 11% 1fr 25%;
                    }
                }

                &__shipping-detail {
                    padding: 0px 40px;

                    .shipping-general-information {
                        &__container {
                            padding: 20px 45px;

                            &-header {
                                grid-template-columns:100%;
                            }

                            &-details {
                                div {
                                    grid-template-columns: 45% 55%;
                                }
                            }
                        }
                    }

                    .weight-capture-information {
                        padding: 20px 20px;

                        .weight-notes-information {
                            padding: 20px 20px;
                        }

                        .shipping-note-inforation {
                            grid-template-columns: 1fr 1fr;
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}

.tag-void {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--tr-base-color-red);
    border-radius: 5px;
    grid-gap: 8px;
    gap: 8px;
    padding: 0 10px 0 10px;
    font-size: 12px;
    color: var(--tr-base-color-red);
    max-height: 24px;
    max-width: 80px;
    span{
        font-weight: 600;
    }
}

.info-label {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color:  var(--color-text);
    &__12{
        font-size: 12px;
    }
}

.info-value {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: var(--color-text-value);
    &__12{
        font-size: 12px;
    }

    &__bold{
        font-weight: 600;
    }
}


.mt {
    &__7 {
        margin-top: 8px;
    }

    &__8 {
        margin-top: 8px;
    }

    &__16 {
        margin-top: 15px;
    }

    &__15 {
        margin-top: 15px;
    }

    &__26 {
        margin-top: 26px;
    }

    &__27 {
        margin-top: 27px;
    }

    &__31 {
        margin-top: 31px;
    }
}
