@import "src/scss/breakpoints.scss";

.kanban__home{
  position: relative;
  top: -70px;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 70px 0 0 0;
  overflow-y: scroll;
  overflow-x: hidden;
  &--empty{
    padding: 12px;
    text-align: center;
    img{
      width: 100%;
      max-width: 100%;
      margin: 24px auto;
    }
    p{
      color: var(--tr-panel-body-color);
      max-width: 454px;
      margin: auto;
    }
  }
  &__header{
    padding: 16px;
    color: var(--tr-header-text-color);
    background-color: var(--tr-foreground-color);
    margin-top: 8px;
    h3{
      font-weight: 700;
      font-size: 26px;
      margin: 0;
    }
    h6{
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: normal;
      text-align: left;
      color: var(--tr-panel-body-color);
    }
    &__select {
      ::ng-deep .ng-select {
          .ng-select-container {
              min-height: 40px;
              border: none !important;
              background-color: var(--tr-header-select-background-color);
              box-shadow: none !important;

              .ng-value-label {
                  font-size: 20px;
                  font-weight: bold;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.35;
                  letter-spacing: normal;
              }
          }

          &:not(.ng-select-opened) .ng-select-container .ng-arrow {
              border-color: var(--tr-header-text-color) transparent
                  transparent;
          }
          &.ng-select-opened > .ng-select-container .ng-arrow {
              border-color: transparent transparent
                  var(--tr-header-text-color);
          }

          .ng-dropdown-panel {
              box-shadow: 1px -2px 7px 0 rgba(0, 0, 0, 0.1);

              .ng-dropdown-panel-items {
                  .ng-option.ng-option-disabled {
                      color: var(--tr-mat-menu-button-text-color-disabled);
                  }
              }
          }

          .ng-dropdown-panel,
          .ng-dropdown-panel
              .ng-dropdown-panel-items
              .ng-option:last-child {
              border: none !important;
              border-radius: 0 !important;
          }
      }
    }
  }
  &__container{
    display: block;
    padding: 0 16px;
  }
  h5{
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 1.31px;
    text-align: left;
    color: var(--tr-labe-columns-list-color);
  }
  &__commodities {
    display: none;
    max-height: 100%;
    overflow: auto;
    grid-area: commodities;
    &__item {
        width: 100%;
        cursor: pointer;
        display: flex;
        padding: 8px 16px 8px 20px;
        box-shadow: none;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 10px;
        justify-content: space-between;
        background-color: var(--tr-mat-calendar-background-color);
        &__description {
            width: 80%;
            color: var(--tr-data-grid-color);
            border-left: 2px solid var(--tr-base-color-yellow);
            padding-left: 10px;
            &__name {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 8px;
            }
            div {
                display: flex;
                justify-content: space-between;
                p:first-child {
                    font-size: 12px;
                }
            }
            &__flows {
                color: var(--tr-base-color-blue);
                font-size: 16px;
                font-weight: 600;
            }
        }
        i {
            color: var(--tr-panel-header-toggle-icon-color);
            font-size: 22px;
        }
        &--active {
            border: solid 1px var(--tr-base-color-blue);
            box-shadow: 0 0 20px 0 rgba(46, 91, 255, 0.1);
            .kanban__home__commodities__item__description {
                border-left: 2px solid var(--tr-base-color-blue);
            }
        }
    }
  }
  &__flows{
    grid-area: flows;
    &__subheader{
      display: flex;
      flex-direction: column;
      mat-tab-group{
        width: 100%;
      }
      app-search-input{
        margin-top: 16px;
        max-width: 100%;
      }
    }
    &__body{
      margin-bottom: 64px;
      padding-top: 16px;
      &__workflow{
        gap: 24px;
        display: flex;
        flex-wrap: wrap;
        &__card{
          .mat-card{
            outline: none;
            width: 100%;
          }
        }
      }
      &--xl{
        .kanban__home__flows__body__workflow__card{
          width: calc(25% - 18px);
        }
      }
      &--lg{
        .kanban__home__flows__body__workflow__card{
          width: calc(33.333% - 18px);
        }
      }
      &--md, &--sm{
        .kanban__home__flows__body__workflow__card{
          width: calc(50% - 18px);
        }
      }
      &--xs{
        .kanban__home__flows__body__workflow__card{
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .kanban__home{
    &__header{
      padding: 20px 16px 0;
      background-color: transparent;
      h3{
        margin: 24px 0;
      }
      &__select {
        display: none;
      }
    }
    &--empty img{
        max-width: 454px;
    }
    &__container{
      gap: 16px;
      display: grid;
      padding: 0 16px;
      grid-template-areas: "commodities flows";
      grid-template-columns: 250px 1fr;
    }
    &__commodities{
      display: block;
    }
    &__flows{
      &__body{
        margin-bottom: 0;
        padding-top: 16px;
      }
      &__subheader{
        display: flex;
        flex-direction: column;
        mat-tab-group{
          width: 100%;
        }
        app-search-input{
          max-width: 100%;
          margin-top: 16px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .kanban__home{
    &__header{
      padding: 20px 24px 0;
    }
    &__container{
      gap: 40px;
      padding: 0 34px 0 40px;
    }
    &_commodities{
      display: block;
    }
    &__flows{
      &__body{
        padding-top: 24px;
      }
      &__subheader{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        app-search-input{
          max-width: 300px;
        }
      }
    }
  }
}




