// App colors
// https://app.zeplin.io/project/5ec4222f7783c832eaf3e8f9/styleguide
:root {
    --darkest: #182030;
    --dark: #242e42;
    --colors-neutral-1: #3e4e6c;
    --colors-neutral-2: #344057;
    --medium-dark: #2f3b52;
    --dark-blue: #0068d1;
    --gray-medium: #777777;
    --primary: #9b9b9b;
    --base-yellow: #f7c137;
    --base-black: #2e384d;
    --base-black-2: #69707f;
    --base-black-4: #70889e;
    --base-black-3: #8798ad;
    --base-green: #23a718;
    --base-green-2: #12e6c1;
    --base-gray-3: #eef3f5;
    --base-blue: #0068d1;
    --base-blue-dark: #00aaff;
    --base-blue-20: rgba(0, 104, 209, 0.2);
    --base-teal: #78bcef;
    --base-teal-2: #b5d7f1;
    --tr-base-color-red: #d63649;
    --base-gray: #bfc5d2;
    --base-white: #ffffff;
    --base-light-gray: #f1f4fa;
    --base-gray-2: #f4f6fc;
    --base-gray-5: #869aac;
    --base-gray-6: #92a2b64d;
    --base-gray-7: #92a2b6;
    --base-blu-dark: #00aaff;
    --base-blu-dark-2: #00a4fa;
    --base-blue-new: #0068ff;
    --base-blue-press: #004d9a;
    --base-purple: #6200ee;
    --base-blue-lote: #0064ff;
    --colors-dark: #20293c;
    --icon-style: rgba(0, 0, 0, 0.7);
    --icon-color: #d8d8d8;
    --light-border: #e1e6fa;
    --base-menu-dark: #07090d;
    --base-menu-gray: #485369;

}