:root {
    --tr-primary-color: #0068d1;
    --tr-background-color: #f1f4fa;
    --tr-foreground-color: #fff;
    --tr-base-color-blue: #0068d1;
    --tr-base-color-blue-20: rgba(0, 104, 209, 0.2);
    --tr-base-color-green: #23a718;
    --tr-base-color-green-20: rgba(35, 167, 24, 0.2);
    --tr-base-color-white: #fff;
    --tr-background-color-second-button: #fff;
    --tr-background-color-primary-button-pressed: #004d9a;
    --tr-labe-columns-list-color: #8798ad;
    --button-capture-weight-disabled-background-color: #20293c;
    --tr-panel-background-color: #f4f6fc;
    --tr-panel-body-color: #333333;
    --tr-panel-body-color-opacity: #33333336;
    --tr-panel-header-background-color: #ffffff;
    --tr-panel-header-toggle-icon-color: #78bcef;
    --tr-data-grid-color: #344057;
    --tr-lot-type-border-width: 0;
    --tr-nano-lot-color: #1967df;
    --tr-nano-lot-background-color: #d9e7fc;
    --tr-nano-lot-border-color: none;
    --tr-micro-lot-color: #7a40f2;
    --tr-micro-lot-background-color: #e4d9fc;
    --tr-micro-lot-border-color: none;
    --tr-macro-lot-color: #10a98e;
    --tr-macro-lot-background-color: #d6f4f1;
    --tr-macro-lot-border-color: none;
    --tr-mat-menu-background-color: #fff;
    --tr-dialog-confirmation-color: #3f495f;
    --tr-base-color-red: #d63649;
    --tr-base-color-red-20: rgba(214, 54, 73, 0.2);
    --tr-base-color-orange: #fc573b;
    --tr-base-color-light-orange: #f9e1e4;
    --tr-mat-datepicker-toggle-active-color: #0068ff;
    --tr-mat-calendar-body-selected-background-color: #0068ff;
    --tr-mat-icons-documents-color: #0068ff;
    --tr-mat-calendar-background-color: #fff;
    --tr-header-background-color: #ffffff;
    --tr-header-text-color: #3f495f;
    --tr-scrollbar-track: #bfc5d2;
    --tr-scrollbar-thumb: #78bcef;
    --tr-scrollbar-thumb-hover: #00a4fa;
    --tr-kanban-dashboard-lot-card-background-color: #fff;
    --tr-title-detail-order-backgroud-color: #e1e7f5;
    --tr-title-detail-order-color: #172b4e;
    --tr-button-submit-disabled: #dbdfe7;
    --tr-background-input: #ffff;
    --tr-background-input-disabled: #eeeeee;
    --tr-background-primary-icon: #eaeeff;
    --tr-base-color-purple: #6200ee;
    --tr-mat-menu-button-text-color-disabled: rgba(0, 0, 0, 0.3);
    --tr-button-disabled-background-color: #dbdfe7;
    --tr-button-disabled-color: #344057;
    --tr-toggle-bar-background-color: #99d2fd;
    --tr-scale-button-tooltip-color: #757575;
    --tr-base-color-yellow: #e5a607;
    --tr-checkbox-border-color: #777777;
    --tr-checkbox-background-color: transparent;
    --tr-base-color-red: #d63649;
    --tr-info-text-color: #707070;
    --tr-info-background-color: #c9e3fe;
    --tr-card-border-color: #e0e7ff;
    --tr-card-background-color: #ffffff;
    --tr-row-table-border-color: #f1f4fa;
    --tr-divider-border-color: #bfc5d2;
    --tr-workflow-shape-pending-fill: #e4e6eb;
    --tr-workflow-shape-pending-stroke: #dde2f0;
    --tr-border-color: #92a2b661;
    --tr-row-table-border-color: #f1f4fa;
    --tr-container-detail-background-color: #fbfbfd;
    --tr-panel-shadown-color: #e0e8f6;
    --tr-subtitle-modal-color: #242e42;
    --tr-card-background-color-disabled: #f0f2f5;
    --tr-empty-empty-color: #869aac;
    --tr-ng-select-border-color: #e1e7f5;
    --tr-producer-apps-border: #e1e6fa;
    --tr-weights-section-top-space-background-color: #f7f8f8;
    --tr-weights-section-background-color: #ffffff;
    --tr-weights-section-border-color: #e1e7f5;
    --tr-weights-section-totals-row-items-label: #8798ad;
    --tr-weights-section-label-border-color: #e1e7f5;
    --tr-weights-section-label-xs-sm-background-color: #ffffff;
    --tr-weights-section-label-lg-background-color: #f7f8f8;
    --tr-weights-section-label-fold-color: black !important;
    --tr-weights-section-label-border-color: #e1e7f5;
    --tr-weights-section-value-item-border-color: #e1e7f5;
    --tr-weights-section-value-item-background-color: #ffffff;
    --tr-weights-section-value-item-color: #333333;
    --tr-weights-section-inputs-border-color: #e1e7f5;
    --tr-weights-section-inputs-background-color: #f7f8f8;
    --tr-warehouse-card-border: #e8edf7;
    --tr-warehouse-progress-background-color: #dfe4f2;
    --tr-row-totals-background-color: #e9eeff;
    --tr-row-totals-characteristics-border-color: #e1e7f5;
    --tr-text-note-length-color: #757575;
    --tr-totals-weight-note-border-color: #e8edf7;
    --tr-button-scale-disabled-background-color: #dbdfe7;
    --tr-row-totals-characteristics-label-color: #3a3a3a;
    --tr-history-item-color: #eaeeff;
    --tr-button-sync-background-color: #eaf4fd;
    --tr-input-error-color: #df0000;
    --tr-custom-select-new-background: #f5f5f5;
    --tr-header-select-background-color: #f6f8fc;
    --tr-producer-apps-border: #e1e6fa;
    --card-border-color: #e1e7f5;
    --tr-purchase-order-status-send-color: #8619c1;
    --tr-purchase-order-status-process-color: #ebad0f;
    --tr-purchase-order-status-settling: #004d9a;
    --tr-purchase-order-status-pending: #70889e;
    --tr-purchase-order-status-cancelled: #d63649;

    .dark {
        --tr-primary-color: #fff;
        --tr-background-color: #242e42;
        --tr-foreground-color: #3e4e6c;
        --tr-base-color-blue: #00aaff;
        --tr-background-color-second-button: #2e384d;
        --tr-background-color-primary-button-pressed: #00aaff;
        --tr-labe-columns-list-color: #fff;
        --tr-panel-background-color: #2e384d;
        --tr-panel-body-color: #ffffff;
        --tr-panel-body-color-opacity: #ffffff3d;
        --tr-panel-header-background-color: #3e4e6c;
        --tr-panel-header-toggle-icon-color: #00a4fa;
        --tr-data-grid-color: #fff;
        --tr-lot-type-border-width: 1px;
        --tr-nano-lot-color: #0064ff;
        --tr-nano-lot-background-color: #1c2639;
        --tr-nano-lot-border-color: #0064ff;
        --tr-micro-lot-color: #935fff;
        --tr-micro-lot-background-color: #1c2639;
        --tr-micro-lot-border-color: #935fff;
        --tr-macro-lot-color: #12e6c1;
        --tr-macro-lot-background-color: #1c2639;
        --tr-macro-lot-border-color: #12e6c1;
        --tr-mat-menu-background-color: #3e4e6c;
        --tr-dialog-confirmation-color: #fff;
        --tr-mat-datepicker-toggle-active-color: #00a4fa;
        --tr-mat-calendar-body-selected-background-color: #00a4fa;
        --tr-mat-icons-documents-color: #00a4fa;
        --tr-mat-calendar-background-color: #2f3b52;
        --tr-header-background-color: #182030;
        --tr-header-text-color: #ffffff;
        --tr-scrollbar-track: #bfc5d2;
        --tr-scrollbar-thumb: #8798ad;
        --tr-scrollbar-thumb-hover: #69707f;
        --tr-kanban-dashboard-lot-card-background-color: #2e384d;
        --tr-title-detail-order-backgroud-color: #2e384d;
        --tr-title-detail-order-color: #fff;
        --tr-button-submit-disabled: #dbdfe7;
        --tr-background-input: #20293c;
        --tr-background-input-disabled: #3e4e6c;
        --tr-background-primary-icon: #eaeeff;
        --tr-base-color-purple: #6200ee;
        --tr-mat-menu-button-text-color-disabled: rgba(255, 255, 255, 0.3);
        --tr-button-disabled-background-color: #2e384d;
        --tr-button-disabled-color: #98a7b9;
        --tr-toggle-bar-background-color: #41779f;
        --tr-scale-button-tooltip-color: #e0e0e0;
        --tr-base-color-yellow: #e5a607;
        --tr-checkbox-border-color: #1f8efa;
        --tr-checkbox-background-color: #20293c;
        --tr-card-border-color: #2e6db2;
        --tr-card-background-color: #3e4e6c;
        --tr-row-table-border-color: #f1f4fa;
        --tr-divider-border-color: #2e384d;
        --tr-workflow-shape-pending-fill: #293348;
        --tr-workflow-shape-pending-stroke: #242e42;
        --tr-border-color: #92a2b661;
        --tr-row-table-border-color: #f1f4fa;
        --tr-container-detail-background-color: #3e4e6c;
        --tr-panel-shadown-color: #18203080;
        --tr-subtitle-modal-color: #f1f4fa;
        --tr-card-background-color-disabled: #3a465e;
        --tr-ng-select-border-color: #1f8efa;
        --tr-producer-apps-border: #242e42;
        --tr-weights-section-top-space-background-color: #3e4e6c;
        --tr-weights-section-background-color: #2f3b52;
        --tr-weights-section-border-color: #1f8efa;
        --tr-weights-section-totals-row-items-label: #b4beca;
        --tr-weights-section-label-border-color: #1f8efa;
        --tr-weights-section-label-xs-sm-background-color: #2f3b52;
        --tr-weights-section-label-lg-background-color: #3e4e6c;
        --tr-weights-section-label-fold-color: white !important;
        --tr-weights-section-label-border-color: #1f8efa;
        --tr-weights-section-value-item-border-color: #1f8efa;
        --tr-weights-section-value-item-background-color: #2f3b52;
        --tr-weights-section-value-item-color: #ffffff;
        --tr-weights-section-inputs-border-color: #1f8efa;
        --tr-weights-section-inputs-background-color: #3e4e6c;
        --tr-row-totals-background-color: #101827;
        --tr-row-totals-characteristics-border-color: #1f8efa;
        --tr-text-note-length-color: #9a9a9a;
        --tr-totals-weight-note-border-color: #1f8efa;
        --tr-button-scale-disabled-background-color: #6a6d74;
        --tr-row-totals-characteristics-label-color: #ffffff;
        --tr-history-item-color: #242e42;
        --tr-button-sync-background-color: #20293c;
        --tr-custom-select-new-background: #2f3b52;
        --tr-header-select-background-color: #242e42;
        --tr-footer-actions-backgroud-color: #182030;
        --tr-purchase-order-status-send-color: #8619c1;
        --tr-purchase-order-status-process-color: #ebad0f;
        --tr-purchase-order-status-settling: #004d9a;
        --tr-purchase-order-status-pending: #70889e;
        --tr-purchase-order-status-cancelled: #d63649;

    }
}


