p {
  margin-bottom: 0px;
}

.custom-select-label {
  padding: 5px 0px 8px;
  cursor: default;
}

::ng-deep .custom-select.ng-invalid.ng-dirty .custom-select-control {
  border-radius: 5px;
  border: 1px solid #df0000;
  box-shadow: 0 1px 5px rgba(255, 0, 0, 0.2);
}

.custom-select-control {
  position: relative;
}

.custom-select-control mat-form-field {
  width: 100%;
  line-height: 1.425;
}

.custom-select-control mat-form-field input {
  cursor: default;
}

.custom-select-control mat-form-field input:disabled {
  color: #333333;
}

.custom-select-control__suffix {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.custom-select-control__icon {
  display: inline-block !important;
  width: 20px;
  height: 24px;
  position: relative;
  top: 2px;
}

.custom-select-control__icon__container {
  width: 100%;
  height: 100%;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: absolute;
}

.custom-select-control__icon__container--clearable:hover {
  color: red;
}

.custom-select-control__icon__container--clearable mat-icon {
  font-size: 14px;
  width: 14px;
  height: 14px;
}

.custom-select-control:not(.disabled) mat-icon {
  cursor: pointer;
}

.custom-select-control.disabled mat-icon {
  cursor: not-allowed;
}

.custom-select-control .custom-select-dropdown {
  width: 100%;
  border-radius: 5px;
  box-shadow: 1px -2px 7px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e1e7f5;
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
}

.custom-select-control .custom-select-dropdown__loading {
  width: 100%;
  height: 36px;
  padding: 8px 10px;
  font-size: 14px;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 0 0 4px 4px;
}

.custom-select-control .custom-select-dropdown .custom-select-new {
  color: #2e5bff;
  cursor: pointer;
  padding: 8px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  background-color: #f5f5f5;
}

.custom-select-control .custom-select-dropdown .custom-select-items {
  height: 150px;
}

.custom-select-control .custom-select-dropdown .custom-select-items__scroll {
  height: inherit;
  overflow: auto;
}

.custom-select-control .custom-select-dropdown .custom-select-items__grouper {
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: var(--tr-base-color-blue);
  padding: 8px 10px;
}

.custom-select-control .custom-select-dropdown .custom-select-items .grouper-padding {
  padding-left: 20px !important;
}

.custom-select-control .custom-select-dropdown .custom-select-items .custom-select-item {
  cursor: pointer;
  padding: 8px 10px;
}

.custom-select-control .custom-select-dropdown .custom-select-items .custom-select-item:hover {
  background-color: #f5faff;
}

.custom-select-control .custom-select-dropdown .custom-select-items .custom-select-item.font-blue {
  font-weight: 600;
}

.custom-select-control .custom-select-dropdown .custom-select-items .custom-select-item--disabled {
  cursor: not-allowed;
  background-color: var(--tr-background-input-disabled);
  padding: 8px 10px;
}

.custom-select-control .custom-select-dropdown .custom-select-items .custom-select-item--disabled:hover {
  background-color: var(--tr-button-disabled-background-color);
}

.custom-select-control .custom-select-dropdown .custom-select-items .custom-select-item--disabled.font-blue {
  font-weight: 600;
}

.custom-select-control .custom-select-dropdown .custom-select-items .custom-select-blocks {
  overflow-y: auto;
  height: 100%;
}

.custom-select-control .custom-select-dropdown .custom-select-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 10px;
}

.custom-select-control .custom-select-dropdown .custom-select-empty .default-img {
  width: 85px !important;
  height: auto !important;
  margin-top: 5px;
}

.custom-select-control .custom-select-dropdown .custom-select-empty img {
  width: 92px;
  height: 123px;
  margin-bottom: 5px;
}

.custom-select-control .custom-select-dropdown .custom-select-empty p {
  text-align: center;
  max-width: 224px;
}

.dark :host .custom-select-dropdown {
  border: solid 1px #1f8efa;
  background-color: #242e42 !important;
}

.dark :host .custom-select-dropdown .custom-select-new {
  color: #ffffff;
  background-color: #2f3b52 !important;
}

.dark :host .custom-select-dropdown .custom-select-items .custom-select-item:hover {
  background-color: #2f3b52;
}

.dark :host .custom-select-dropdown__loading {
  border-color: transparent !important;
}

.dark :host input {
  color: #ffffff !important;
}

.dark :host ::placeholder {
  color: #999 !important;
}

.custom-select_p__not_items_found {
  color: #ccc;
  padding: 8px;
}

.dark :host .custom-select_p__not_items_found {
  color: rgba(255, 255, 255, 0.87);
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #ccc;
}

:host ::ng-deep .custom-select-control mat-form-field .mat-form-field-wrapper .mat-form-field-suffix {
  top: 2px;
}

.dark :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
}
